* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.visuallyhidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}

.clearfix:after {
  content: " ";
  font-size: 0;

  display: block;
  visibility: hidden;
  clear: both;

  height: 0;
}

.title {
  font-size: 20px;

  margin-bottom: 40px;

  text-transform: uppercase;

  color: #a3a3a3;
}

.button {
  font-weight: bold;

  display: inline-block;

  padding: 12px 24px;

  cursor: pointer;
  vertical-align: middle;
  text-transform: uppercase;

  color: #fff;
  border: none;
  border-radius: 3px;
  background-color: #ffa200;
}
.wrapper {
  width: 1145px;
  margin-right: auto;
  margin-left: auto;

  outline: 3px dotted red;
}

.page-header__headline {
  max-height: 37px;

  color: #fff;
  outline: 1px dotted blue;
  background-color: #355ead;
}
.page-header__headline a {
  color: #fff;
}
.page-header__headline-block {
  float: left;
}

.page-header__links-item {
  display: inline-block;
}



.products__item {
  /* display: table-row; */
  height: 143px;
  margin-bottom: 20px;
}

.products__item > div {
  display: table-cell;
}

.products__item-number,.products__item-delete {
  min-width: 67px;

  text-align: center;
  vertical-align: middle;

  background-color: #f4f4f4;
}

.products__item-pic {
  padding-right: 30px;
  padding-left: 30px;
}

.products__item-description {
  padding-top: 22px;
}

.products__item-name {
  padding-bottom: 18px;
}

.products__item-link {
  color: #000;
}

.products__quantity-btn {
  display: inline-block;

  width: 16px;
  height: 16px;

  cursor: pointer;
  vertical-align: middle;

  border: none;
  background-repeat: no-repeat;
}
.products__quantity-btn--reduce {
  background-image: url(../img/minus.jpg);
}
.products__quantity-btn--augment {
  background-image: url(../img/plus.jpg);
}


.products__item-description {
  width: 380px;

  vertical-align: top;
}
.products__item-quantity {
  padding-top: 18px;
  padding-right: 15px;
  padding-left: 15px;

  vertical-align: top;
}
.products__item-quantity-title {
  padding-bottom: 18px;
}
.products__quantity-input {
  width: 35px;
  height: 35px;
  padding: 8px 0;

  text-align: center;
  vertical-align: middle;

  border: 2px solid #c7c7c7;
  border-radius: 3px;
}
.products__item-sum {
  width: 300px;
  padding-left: 100px;

  vertical-align: middle;
}

.products__item-sum-number {
  font-weight: bold;
}

.icon-delete {
  width: 28px;
  height: 29px;

  background-image: url(../img/delete-icon.jpg);
}

.products__amount {
  font-size: 18px;

  padding: 30px 80px;

  text-align: right;

  background-color: #f4f4f4;
}

.products__amount-number {
  font-weight: bold;
}




.order-block {
  margin-top: 75px;
}

.order-block__title {
  margin-bottom: 40px;

  color: #a3a3a3;
}



.input-radio {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.label-radio {
  font-size: 16px;
  line-height: 18px;

  position: relative;

  display: block;

  margin-bottom: 18px;
  padding-top: 10px;

  cursor: pointer;
}
.label-radio:before {
  content: "";

  display: inline-block;

  width: 47px;
  height: 25px;
  margin-right: 15px;

  vertical-align: middle;

  background-image: url(../img/radio-btn.jpg);
}

.input-radio:checked + .label-radio:before, .label-radio--checked:before {
  content: " ";
  background-image: url(../img/radio-btn-active.jpg);
}
.label-radio--checked:before {
  content: " ";
  background-image: url(../img/radio-btn-active.jpg);

}
.label-text {
  display: block;
}

.input-text {
  display: block;

  width: 360px;
  height: 36px;
  padding: 3px 40px 3px 14px;

  border: 2px solid #c8c8c8;
  border-radius: 3px;
}







.page-footer {
  padding-top: 88px;

  color: #fff;
  background-color: #355ead;
  background-image: url(../img/footer-pattern.jpg);
  background-repeat: repeat-x;
  background-position: 0 3px;
}

.page-footer a {
  color: #fff;
}

.page-footer__wrapper {
  position: relative;

  min-height: 386px;

  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
/*.page-footer__col*/
.col {
  float: left;

  width: 380px;
}
.page-footer__col--first {
  padding-left: 195px;

  background-image: url(../img/footer-symbol.jpg);
  background-repeat: no-repeat;
}

.page-footer__col--last {
  text-align: right;
}

.page-footer__link {
  text-decoration: underline;
}

.page-footer__bottomline {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-bottom: 35px;

  outline: 3px dashed yellow;
}

.copyright {
  float: left;
}
.madein {
  float: right;
}
.icon {
  display: inline-block;

  vertical-align: bottom;
}
.grotesk-icon {
  width: 42px;
  height: 46px;

  background-image: url(../img/grotesk-icon.jpg);
}
